# Postgres
POSTGRES_DB=auction_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=postgres_db
# Redis
REDIS_HOST=redis_db
REDIS_PORT=6379
# JWT
SECRET_KEY_ACCESS=
SECRET_KEY_REFRESH=
JWT_SIGNING_ALGORITHM=